<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sequence.restapi.mapper.CommentMapper">

    <select id="getCommentList" resultType="HashMap" parameterType="integer">
        SELECT  c.*,
                m.name as writer_name,
                m.photo_src
        FROM    comment c
        JOIN    member m on c.writer = m.id
        where   tidx = #{tidx}
        order by od asc
    </select>

    <select id="getComment" resultType="HashMap" parameterType="integer">
        SELECT * FROM comment where cidx = #{cidx}
    </select>

    <select id="getOd" resultType="integer" parameterType="integer">
        SELECT IFNULL(max(od), 0) + 1 as od FROM `comment` WHERE tidx = #{tidx}
    </select>

    <insert id="postComment" parameterType="HashMap">
        INSERT INTO comment SET
        tidx = #{tidx},
        parent = #{parent},
        depth = #{depth},
        od = #{od},
        tag = #{tag},
        writer = #{writer},
        content = #{content},
        register_date = now();
    </insert>

    <update id="updateComment" parameterType="HashMap">
        UPDATE comment SET content = #{content}, tag = #{tag} where cidx = #{cidx}
    </update>

    <update id="updateCommentOd" parameterType="HashMap">
        UPDATE comment SET od = od + 1 where tidx = #{tidx} and od >= #{od}
    </update>

    <delete id="deleteComment" parameterType="integer">
        DELETE FROM comment where cidx = #{cidx}
    </delete>

</mapper>