<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sequence.restapi.mapper.MemberMapper">

    <select id="getMemberCount" resultType="integer" parameterType="String">
        SELECT count(*) as cnt FROM member where email = #{email}
    </select>

    <select id="getMember" resultType="HashMap" parameterType="String">
        SELECT * FROM member where id = #{id}
    </select>

    <select id="getMemberOnProject" resultType="HashMap" parameterType="Integer">
        SELECT email, name, photo_src FROM member where id in (SELECT mid FROM project_access where pidx = #{pidx})
    </select>

    <insert id="postMember" parameterType="HashMap">
        INSERT INTO member SET
        `google_access_token` = #{google_access_token},
        `id` = #{id},
        `name` = #{name},
        `email` = #{email},
        `photo_src` = #{photo_src},
        register_date = now();
    </insert>
</mapper>