<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sequence.restapi.mapper.TaskMapper">

    <select id="getTaskListAll" resultType="HashMap" parameterType="integer">
        SELECT  t.*,
                (SELECT count(*) FROM comment where tidx = t.tidx) as comment_cnt
        FROM    task t where t.pidx = #{pidx}
        order by t.update_date desc
    </select>

    <select id="getTaskListByParent" resultType="HashMap" parameterType="HashMap">
        SELECT * FROM task where pidx = #{pidx} and parent = #{parent}
    </select>

    <select id="getTaskRecently" resultType="HashMap" parameterType="String">
        SELECT t.*,
               (SELECT count(*) FROM comment where tidx = t.tidx) as comment_cnt,
               (SELECT title FROM project where pidx = t.pidx) as project_title
        FROM task t
        where t.pidx in (SELECT pidx FROM project_access where mid = #{mid})
        order by t.update_date desc limit 10
    </select>


    <select id="getTask" resultType="HashMap" parameterType="integer">
        SELECT  t.*,
                (SELECT title FROM project where pidx = t.pidx) as project_title
        FROM    task t where t.tidx = #{tidx}
    </select>

    <select id="getTaskOnCalendar" resultType="HashMap" parameterType="HashMap">
        SELECT * FROM google_calendar_connected where midx = #{midx} and tidx = #{tidx}
    </select>

    <select id="getTaskByRange" resultType="HashMap" parameterType="HashMap">
        SELECT t.*,
               (SELECT count(*) FROM comment where tidx = t.tidx) as comment_cnt,
               (SELECT title FROM project where pidx = t.pidx) as project_title,
               (SELECT html_url FROM google_calendar_connected WHERE tidx = t.tidx AND midx = #{midx}) as html_url
        FROM task t
        where t.pidx in ( SELECT pidx FROM project_access where mid = #{mid} )
        AND   (t.start_date between #{start} and #{limit} OR t.limit_date between #{start} and #{limit})
        order by start_date asc, limit_date asc
    </select>

    <insert id="postTask" parameterType="HashMap">
        INSERT INTO task SET
        pidx = #{pidx},
        depth = #{depth},
        parent = #{parent},
        title = #{title},
        description = #{description},
        start_date = #{start_date},
        limit_date = #{limit_date},
        state = 0,
        register_date = now(),
        update_date = now();
    </insert>

    <insert id="postTaskOnCalendar" parameterType="HashMap">
        INSERT INTO google_calendar_connected SET
        midx = #{midx},
        tidx = #{tidx},
        id = #{id},
        html_url = #{html_url};
    </insert>

    <update id="updateTask" parameterType="HashMap">
        UPDATE task SET
        title = #{title},
        description = #{description},
        start_date = #{start_date},
        limit_date = #{limit_date},
        update_date = now()
        WHERE tidx = #{tidx}
    </update>

    <update id="updateTaskBranch" parameterType="HashMap">
        UPDATE task SET depth = #{depth}, parent = #{parent} WHERE tidx = #{tidx}
    </update>

    <update id="setProcess" parameterType="integer">
        UPDATE task SET state = 0 WHERE tidx = #{tidx}
    </update>

    <update id="setComplete" parameterType="integer">
        UPDATE task SET state = 1 WHERE tidx = #{tidx}
    </update>

    <update id="setError" parameterType="integer">
        UPDATE task SET state = 2 WHERE tidx = #{tidx}
    </update>

    <delete id="deleteTask" parameterType="integer">
        DELETE FROM task where tidx = #{tidx}
    </delete>

    <select id="deleteTaskOnCalendar" parameterType="HashMap">
        DELETE FROM google_calendar_connected where id = #{id}
    </select>

</mapper>